# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hacker_Game.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Hacker_Game\.idea\.idea.Hacker_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
